*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;


}
html {
	scroll-behavior: smooth;
}
body{
   overflow-x: hidden; 
  overflow-y:scroll;
  background-color:#121212 ;



}
.navbar{
    color:white;
    height:4.5rem;
    width: 100vw;
    margin :0 auto;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index: 3;
    background-color:#121212 ;

}
.desktopMenuListItem{
    color: inherit;
    margin:1rem;
    cursor:pointer;
  
}

.desktopMenuListItem:hover {
    color:#3399ff;
    padding-bottom:0.5rem;
    border-bottom: 3px solid #3399ff;
    

}
.main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 1.5;
    width: 100vw;
   

}

.sidebar{

    background-color: #232323;
    position:sticky;
    top:4rem;
    bottom:4rem;
    border-radius: 0.5rem;
    height: fit-content;
   max-width: fit-content;
    padding:3rem 1rem;
    margin:0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    flex:1;
    flex-shrink: 1;

}

@media (max-width: 900px ) and ( min-width: 600px) {
    .sidebar{
        bottom: 0;
        margin-left: 1;
        padding: auto 0;
        max-width: fit-content;
    }
    .avatar{
        height:50px;
        width: 50px;
    }
    .MuiListItemText-primary {
        display: none !important;
    }
    .itemText{
        display: none;
    }
    .sidebar hr{
        width:50px !important;
        opacity: 50%;

    }
    div.MuiAvatar-root {
        width: 50px !important;
        height: auto !important;
      }
     .icon{
        height: 30px;
        margin-right: 0 !important;
        padding-right: 0 !important;
        white-space: nowrap !important;
      }

      .contact{
        margin-top: 20px !important;
        gap:2rem !important;
      }
}
.tog{
    color:white;
    background-color:#232323;
     height:"fit-content";
     padding:5px;
     border-radius:5px;
     font-size: 2rem;
     z-index: 3;

    }

@media (max-width:600px) {
    .sidebar{
        display:none;
    }
    .tog{
        cursor: pointer;
        display:inline-block !important;
        position: fixed !important;
    }
    .tog:hover{
        display: none !important;
        + .sidebar{
            display: block !important;
            position: absolute !important;
            box-shadow: black 0 0 100px;

                
        }
        + .sidebar hr{
            display: none !important;
        }

    }
    .maincontent{
       margin-left: 3rem !important;

    }


}

.icon {
    color:#3399ff !important;
    padding-right: 20px;
    padding-top:5px;
  }
div.MuiAvatar-root {
    width: clamp(10rem, 2vw, 19rem);
    height: auto;
  }

.avatar{
   
    height: auto;
    width: max-content;
    background-color: #575757;
    border-radius: 50%;
    padding: 0.6rem;

}
.contact{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    color:white;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}

.maincontent{
    flex:4;
    background-color: #232323;
    border-radius: 0.5rem;
    overflow:hidden;
    flex-shrink: 0;


}
.about{
    font-size: clamp(1.2rem, 1.8vw, 1.8rem);
    text-align: start;
    width:fit-content;
    margin-top:2rem;
    margin-bottom:2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;


}

.typed {
    color:#3399ff;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  .description{
    font-size: clamp(0.9rem, 1.4vw, 1.5rem);
    padding-top: 2rem;
    text-align: start;
    color:#bab9b9
  }

  .skills, .projects, .arts{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-size: clamp(1rem, 1vw, 1.5rem);
    margin-bottom:2rem;
    padding: 3rem;

  }

.skillsContainer{
    margin:0.5rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}

.webContainer, .langContainer, .aiContainer, .databaseContainer{
    background-color: #2a2929;
    border-radius: 0.5rem;
    padding:2rem 1rem;
    margin:0.5rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    width: 100%;
    height:fit-content;
    box-shadow: black 0 0 5px;
  } 
.frontEnd, .backend,  .database, .langSkills , .aiSkills{
    margin-top: 1rem;
    margin-bottom:2rem;
    background-color: #303030;
    padding:0.5rem;
    border-radius: 0.5rem;
    box-shadow: #232323 0 0 0.5rem;
}
.webSkills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;

}
.webContainer{
    grid-column-start: 1;
    grid-column-end: 3;
}
.cards{    
    position: relative;
    width: fit-content;
    height:100%;
    border-radius: 0.8rem;
    
}
.projectsContainer{
    margin:0.5rem;
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(2,minmax(0,1fr));
  } 
.hovertext{

    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    text-shadow: #000000 0  0 0.3rem;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.cards:hover .hovertext{
    opacity: 1;
    transition: 0.5s;
}

h4{
    color:#3399ff;
    margin:0.5rem 0;
}
h3{
    color:#bab9b9;
}
h1,p{
    color:white;
}
.MuiCard-root:hover {

    opacity: 0.5;
    transform: translateY(-5px);
    transition: transform 0.5s;
}
.artsContainer{
display: flex;
flex-direction: column;
gap:1rem;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: start;
    background-size: cover;
    width: 100px;
    height: 100px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  


